<div ng-controller="listController" ng-init="init()">
	
	<table class="table table-striped">
		<tr>
			<!-- <th class="text-center">Id</th> -->
			<th class="text-center">Firstname</th>
			<th class="text-center">Lastname</th>
			<th class="text-center">Email</th>
			<th class="text-center">Edit</th>
			<th class="text-center">Delete</th>
		</tr>
  		<tr ng-repeat="x in userData" class="text-center">
  			<!-- <td>{{ x._id }}</td> -->
    		<td>{{x.firstName}}</td>
    		<td>{{x.lastName}}</td>
    		<td>{{x.email}}</td>
    		<td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" ng-click="userEdit(x)">Edit</button></td>
    		<td><button type="button" class="btn btn-danger"  ng-click="remove(x._id)">Delete</button></td>
  		</tr>



	</table>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
				</div>

				<div class="modal-body">
	      			<form role="form" ng-init="userloadProfile()">
	        			<div class="form-group">
	          				<label for="firstName" class="pull-left">FirstName</label><br>
	    					<input type="text" name="firstName" id="firstName" class="form-control" ng-model="usereditObj.firstName" required>
	        			</div>

	        			<div class="form-group">
	          				<label for="lastName" class="pull-left">LastName</label><br>
	    					<input type="text" name="lastName" id="lastName" class="form-control" ng-model="usereditObj.lastName" required>
	        			</div>

	        			<div class="form-group">
	          				<label for="email" class="pull-left">Email</label><br>
	    					<input type="email" name="email" id="email" class="form-control" ng-model="usereditObj.email" required>
	        			</div>

	      			</form>
			    </div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="userchangeProfile()">Save changes</button>
				</div>
			</div>
		</div>
	</div>

	<div ng-show="buttonHide">
	 <button type="button" class="btn btn-primary loadbtn" ng-click="load()">Load</button>
	 </div>
</div>










