<form class="form-inline" ng-controller="register" ng-submit="userlogin()" >

	<div class="container">

		<div class="row">
    		<label for="email">Email</label><br>
    		<input type="email" name="email" id="email" class="form-control" ng-model="email" required>
    		
    	</div>

    	<div class="row">
    		<label for="passWord">Password</label><br>
    		<input type="Password" name="passWord" id="passWord" class="form-control" ng-model="passWord" required>
    		
    	</div><br>

    	
    	
    	<div class="row">
    		<button class="btn btn-success">Login</button>
    	</div>

	</div>
			<!-- <ui-view></ui-view> -->
</form>
